html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  /* body{
    font-size: 30px;
  } */
.main{
    /* width: 100%; */
    max-width: 980px;
    margin: 0 auto;
    /* padding: 0 15px; */
}
  /* .main .logo{
    width: 150px;
  }  */
  .main>header{
    text-align: center;
    /* width: 800px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 20px; */
    
  }
  .main>header>img.logo{
    width: 150px;
    /* display: block;
    margin: 0 auto; */
    margin-top: 40px;
    margin-bottom: 20px;
  }
.main>nav{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
.main>nav>ul{
  display: flex;
}
.main>nav>ul>li{
    /* display: inline-block; */
    flex: 1;
    width: 33%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 28px;
    margin-right: -4px;
}
.main>nav>ul>li>.nav_item a{
  color: #000;
  text-decoration: none;
  display: block;
  position: relative;
  /* width: 100%; */
}
.main>nav>ul>li>.nav_item>.nav_child{
  display: none;
  position: absolute;
  width: 100%;
}
.main>nav>ul>li>.nav_item>.nav_child a{
  background-color: #898000;
  text-decoration: none;
  color: #fff;
  line-height: 20px;
  font-size: 16px;
  display: block;
  padding: 10px 20px;
  text-align: left;
}
.main>nav>ul>li>.nav_item>.nav_child a:hover{
  background-color: #000;
}

.main>nav>ul>li>.nav_item:hover{
  background-color: #dcdddd;
}
.main>nav>ul>li>.nav_item:hover .nav_child{
  display: block;
}


.content img{
  width: 100%;
}
.en{
    color: rgb(169, 230, 29);
}

/* shop.html的css */
.main>.shop_content>.p_content{
      color: #585958;
      line-height: 20px;
      letter-spacing: 1.5px;
      font-size: 15px;
      font-weight: bolder;
}
.main>.shop_content>.item_wrap{
    border: 1px solid #898000;
}
.main>.shop_content>.item_wrap>.item_row{
  display: flex
}
.main>.shop_content>.item_wrap>.item_row>div{
  flex: 1;
}


.main>.shop_content>.item_wrap>.item_row>.item_right .item_title{
font-weight: bold;
border-bottom: 1px solid #898000;
padding-bottom: 3px;
}
.shop_content>.item_wrap>.item_row>.item_right .item_child{
  display: flex;
  margin-top: 10px;
}
.price_txt{
  color: 898000;
  font-size: 17px;
  margin-bottom: 13px;
}
.game_txt{
  line-height: 19px;
  font-size: 15px;
}
.buy_btn{
  margin-left: 30px;
  text-decoration: none;
  background-color: #827800;
  color: #fff;
  padding: 7px;
  padding-top: 10px;
  display: block;
  border-radius: 14px;

}



@media(max-width:992px){
  .main>nav>ul{
    flex-direction: column;
  }
  .main>nav>ul>li{
    width:100%
  }
}

  
